{% extends 'base.html' %}



{% block container %}


<!-- Info Section -->
<div class="login-section bg-light">
    <div class="outer-box  bg-white">
      <!-- Login Form -->
      <div class="login-form default-form">
        <div class="form-inner">
          <h3 align="center">Admin Login to DEIR</h3>
          <!--Login Form-->
          <form method="post" action="">
            {{form.hidden_tag()}}
            <div class="form-group">
                {{form.email.label(class="form-control-label")}}
                {% if form.email.errors %}
                {{form.email(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{form.email(class="form-control")}}
                {% endif %}
            </div>

            <div class="form-group">
                {{form.password.label(class="form-control-label")}}
                {% if form.password.errors %}
                {{form.password(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{form.password(class="form-control")}}
                {% endif %}
            </div>

            <div class="form-group">
              <div class="field-outer">
                <div class="input-group checkboxes square">
                  <!-- <input type="checkbox" name="remember-me" value="" id="remember">
                  <label for="remember" class="remember"><span class="custom-checkbox"></span> Remember me</label> -->
                  <!-- Checkbox -->
                  {{form.remember(class="form-check-input")}}
                  <!-- Checkbox label -->
                  {{form.remember.label(class="form-check-label")}}
                </div>
                <a href="{{ url_for('admin.password_reset_request') }}" class="pwd">Forgot password?</a>
              </div>
            </div>

            <div class="form-group">
              <!-- <button class="theme-btn btn-style-one" type="submit" name="log-in">Log In</button> -->
              {{form.submit(class="theme-btn btn-style-one")}}
            </div>
          </form>

          <!-- <div class="bottom-box">
            <div class="text">Don't have an account? <a href="register.html">Signup</a></div>
            <div class="divider"><span>or</span></div>
            <div class="btn-box row">
              <div class="col-lg-6 col-md-12">
                <a href="#" class="theme-btn social-btn-two facebook-btn"><i class="fab fa-facebook-f"></i> Log In via Facebook</a>
              </div>
              <div class="col-lg-6 col-md-12">
                <a href="#" class="theme-btn social-btn-two google-btn"><i class="fab fa-google"></i> Log In via Gmail</a>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <!--End Login Form -->
    </div>
  </div>
  <!-- End Info Section -->

<!-- 
<section id="form-section" class="pb-5 bg-light">
    <div class="container">
        <div class="d-flex">
            <div class="form-ctn mx-auto">
                <form class="bg-white px-4 py-5" method="POST" action="">
                    {{form.hidden_tag()}}
                    <div class="h-hr">
                        <h4 class="h">Login</h4>
                        <span class="hr"></span>
                    </div>
                    <div class="">
                        <div class="form-group">
                            <div class="field-ctn">
                                {% if form.email.errors %}
                                    {{form.email(class="form-control is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{form.email(class="form-control")}}
                                {% endif %}
                                {{form.email.label(class="form-control-label")}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="field-ctn">
                                {% if form.password.errors %}
                                    {{form.password(class="form-control is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{form.password(class="form-control")}}
                                {% endif %}
                                {{form.password.label(class="form-control-label")}}
                            </div>
                        </div>
                        <div class="form-check">
                            <div class="mb-4">
                                {{form.remember(class="form-check-input")}}
                                {{form.remember.label(class="form-check-label")}}
                            </div>
                        </div>
                    </div>
                    <div class="">
                        {{form.submit(class="btn btn-brand prim text-light d-inline px-4")}}
                        <small class="text-muted">
                            <a class="ms-3 t-prim" href="{{ url_for('admin.password_reset_request') }}">Forgot Password?</a>
                        </small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section> -->

{% endblock %}
{% block script %}{% endblock %}