{% extends 'base.html' %}

{% block container %}



<div class="modal fade" id="remove-pic" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Delete Image?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                <form action="{{ url_for('employer.delete_image', employer_id=user.id) }}" method="post">
                    <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>

<section class="user-dashboard">
    <div class="dashboard-outer">
      <div class="upper-title-box">
        <h3>Edit Company Profile</h3>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <!-- Ls widget -->
          <div class="ls-widget">
            <div class="tabs-box">
              <div class="widget-title">
                <h4>Company Profile</h4>
              </div>

              <div class="widget-content">

                <div class="uploading-outer">
                    <div class="prof-update">
                        <div class="d-flex">
                            <div class="profile-img-ctn">
                                <img src="{{ url_for('static', filename='employer/logo/' + user.logo) }}" alt="" width="120px">
                            </div>
                            <div class="ms-2">
                                <p class="m-0 text-bold p-0">{{ user.name }}</p>
                                <p class="text-muted m-0"><small><i class="fa fa-map-marker t-prim"></i> {{ user.location }}</small></p>
                                {% if user.logo != 'company.png' %}
                                    <button class="btn btn-sm btn-outline-secondary px-2 p-0" data-bs-toggle="modal" data-bs-target="#remove-pic" >Remove Logo</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                

                <form class="default-form" method="POST" action="" enctype="multipart/form-data">
                    {{form.hidden_tag()}}
                  <div class="row">
                    <!-- Input -->
                    <div class="form-group col-lg-6 col-md-12">
                      <label>Company Name</label>
                        {% if form.name.errors %}
                            {{form.name(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.name.errors %}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.name(class="form-control")}}
                        {% endif %}
                    </div>

                    <!-- Input -->
                    <div class="form-group col-lg-6 col-md-12">
                      <label>Email address</label>
                      {% if form.email.errors %}
                      {{form.email(class="form-control is-invalid")}}
                      <div class="invalid-feedback">
                          {% for error in form.email.errors %}
                              <span>{{error}}</span>
                          {% endfor %}
                      </div>
                        {% else %}
                            {{form.email(class="form-control")}}
                        {% endif %}
                    </div>

                    <!-- Input -->
                    <div class="form-group col-lg-6 col-md-12">
                      <label>Phone</label>
                      {% if form.phone.errors %}
                            {{form.phone(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.phone.errors %}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.phone(class="form-control")}}
                        {% endif %}
                    </div>

                    <!-- Input -->
                    <div class="form-group col-lg-6 col-md-12">
                      <label>Location</label>
                      {% if form.location.errors %}
                            {{form.location(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.location.errors %}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.location(class="form-control")}}
                        {% endif %}
                    </div>

                    <!-- Input -->
                    <div class="form-group col-lg-6 col-md-12">
                      <label>TagLine</label>
                      {% if form.tagline.errors %}
                            {{form.tagline(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.tagline.errors %}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.tagline(class="form-control")}}
                        {% endif %}
                    </div>

                    <div class="form-group col-lg-6 col-md-12">
                        <label>Website</label>
                        {% if form.website.errors %}
                            {{form.website(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.website.errors %}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.website(class="form-control")}}
                        {% endif %}
                    </div>

                    <div class="form-group col-lg-6 col-md-12">
                        <label>Change Logo</label>
                        {{form.logo(class="form-control form-control-sm")}}
                        {% if form.logo.errors %}
                            {% for error in form.logo.errors %}
                                <span class="text-danger">{{error}}</span><br>
                            {% endfor %}
                        {% else %}
                        {% endif %}
                    </div>


                    <!-- About Company -->
                    <div class="form-group col-lg-12 col-md-12">
                      <label>About Company</label>
                      {% if form.description.errors %}
                            {{form.description(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.description.errors %}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.description(class="form-control")}}
                        {% endif %}
                    </div>

                    <!-- Input -->
                    <div class="form-group col-lg-6 col-md-12">
                        {{form.submit(class="theme-btn btn-style-one")}}
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>

         
         
        </div>


      </div>
    </div>
  </section>






{% endblock %}
{% block script %}{% endblock %}