<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview Success</title>
</head>
<body>
    <div>
        <h1>Interview Questions Sent Successfully!</h1>
        <p>Interview questions have been sent to the applicant with ID: {{ applicant_id }}.</p>
        <p>You can go back to the <a href="{{ url_for('employer.listed_applicants') }}">Listed Applicants</a> page.</p>
    </div>
</body>
</html>
