{% extends 'errors/errorbase.html' %}


{% block errorcontainer %}
        <h1>403: Unauthorized Activity</h1><br>
        <p>
            You don't have permissions to perform this Activity.
            Check your Account and Try Again.
        </p>
{% endblock %}

{% block applicant_errorcontainer %}
        <h1>403: Unauthorized Activity</h1><br>
        <p>
            You don't have permissions to perform this Activity.
            Check your Account and Try Again.
        </p>
{% endblock %}

{% block employer_errorcontainer %}
        <h1>403: Unauthorized Activity</h1><br>
        <p>
            You don't have permissions to perform this Activity.
            Check your Account and Try Again.
        </p>
{% endblock %}




{% block script %}{% endblock %}