{% extends 'errors/errorbase.html' %}


{% block errorcontainer %}
        <h1>404: Page Not Found</h1><br>
        <p>
            This page does not exist at OraJobs.
            Please Try Again.
        </p>
{% endblock %}



{% block applicant_errorcontainer %}
        <h1>404: Page Not Found</h1><br>
        <p>
            This page does not exist at OraJobs.
            Please Try Again.
        </p>
{% endblock %}




{% block employer_errorcontainer %}
        <h1>404: Page Not Found</h1><br>
        <p>
            This page does not exist at OraJobs.
            Please Try Again.
        </p>
{% endblock %}
{% block script %}{% endblock %}