{% extends 'errors/errorbase.html' %}


{% block errorcontainer %}
        <h1>405: Method Not Allowed</h1><br>
        <p>
            Method not allowed for the requested url!
            Please Try Again.
        </p>
{% endblock %}

{% block applicant_errorcontainer %}
        <h1>405: Method Not Allowed</h1><br>
        <p>
            Method not allowed for the requested url!
            Please Try Again.
        </p>
{% endblock %}

{% block employer_errorcontainer %}
        <h1>405: Method Not Allowed</h1><br>
        <p>
            Method not allowed for the requested url!
            Please Try Again.
        </p>
{% endblock %}
{% block script %}{% endblock %}