{% extends 'errors/errorbase.html' %}


{% block errorcontainer %}
        <h1>500: Something Went Wrong.</h1><br>
        <p>
            We are experiencing trouble on our end.
            Please Try Again Later.
        </p>
{% endblock %}

{% block applicant_errorcontainer %}
        <h1>500: Something Went Wrong.</h1><br>
        <p>
            We are experiencing trouble on our end.
            Please Try Again Later.
        </p>
{% endblock %}




{% block employer_errorcontainer %}
    <h1>500: Something Went Wrong.</h1><br>
    <p>
        We are experiencing trouble on our end.
        Please Try Again Later.
    </p>
{% endblock %}


{% block script %}{% endblock %}