
{% extends 'base.html' %}
                          
{% block container %}

<div class="bg-white">

<!--Page Title-->
<br>
<section class="page-title">
    <div class="auto-container">
      <div class="title-outer">
        <h1>Donate</h1>
        <ul class="page-breadcrumb">
          <li><a href="{{url_for('main.home')}}">Home</a></li>
          <li>Donate</li>
        </ul>
      </div>
    </div>
</section>
  <!--End Page Title-->

  <section class="about-section-three">
    <div class="auto-container">
      

      
      <div class="text">

        <h4>Introduction:</h4>
        <p>
            Welcome to our donation page to raise funds for DEIR. Our mission is to create a safe and inclusive recruitment process and improve employment opportunities and working conditions for women in STEM, and we need your help to make it happen. 
        </p>
        <br>
        <h4>Problem:</h4>
        <p>
            Women have long faced significant barriers to employment and advancement in STEM fields, including discrimination, bias, and a lack of support and mentorship. Despite progress in recent years, women remain underrepresented in many STEM industries.
        <br><br>
            The STEM sector plays an important role in the Australian economy and is critical for innovation and creating new jobs. Australia’s STEM Workforce Report by the Office of the Chief Scientist (2020), show that only 29% of the STEM workforce identifies as women and 56% of university-educated women in STEM were born overseas but experience four times higher unemployment rates. Cultural barriers, gender bias, racial bias and lack of support are the main contributing factors resulting in the higher unemployment rates.
        </p>
        <br>
        <h4>Funding Gap:</h4>
        <p>
            In  2022, only 3% of venture capital funding went to women-led start-ups in Australia. For private sector funding, only 0.7% of the total capital raised was accessed by women despite women making up 22% of start-up founders. 
            <br><br>
            What is further shocking is the fact that in 2021, a record-breaking $10 billion of venture capital funding was raised in Australia, but Black women/Women of Colour accessed only 0.03%.
            <br><br>
            If we are sincere about cracking the code, and embracing equity, then this is not acceptable.
        </p>
        <br>
        <h4>Solution:</h4>
        <p>
            iSTEM Co. has launched its latest project DIER–the innovative Recruit-Tech platform for women in STEM that eliminates recruitment bias. DEIR offers a solution to these challenges by providing a safe and inclusive platform for women in STEM to find job opportunities, connect with mentors, and access the resources they need to succeed. DEIR is designed to support ethical and inclusive hiring practices, eliminating unconscious bias and promoting diversity, equity, inclusion and retention in STEM fields.
        </p>
        <br>
        <h4>Features:</h4>
        <p>
            DEIR offers a range of unique features to support job seekers and employers alike, including:
            <div>
            <ul>
                <li>
                    Anonymous recruitment which ensures that candidates are evaluated based on their qualifications and experience, not their gender, race, or other personal characteristics.
                </li>
                <li>
                    Job benchmarking, which ensures that employers are evaluating candidates against industry standards and not arbitrary criteria.
                </li>
                <li>
                    Ethical job posting, which helps ensure that job postings are inclusive and welcoming to all candidates.
                </li>
                <li>
                    Standardised interview process, which helps ensure that candidates are evaluated based on the same criteria.
                </li>
                <li>
                    Mentoring retention program, which matches job seekers with experienced mentors who can provide guidance and support throughout their job search and career development.
                </li>
                <li>
                    Endorsement badge for ethical and inclusive employers, which helps job seekers identify companies that are committed to diversity, equity, and inclusion.
                </li>
            </ul>
            </div>
        </p>
        <br>
        <h4>Goal:</h4>
        <p>
            Our goal is to raise funds to cover the costs of operating DEIR in  2023, including software and app development, marketing, and outreach. With your support, we can develop a platform that empowers women in STEM and help build a more diverse, equitable, and inclusive workforce.
        </p>
        <br>
        <h4>Conclusion:</h4>
        <p>
            Thank you for considering supporting DEIR and our mission to support women in STEM. With your help, we can create a platform that truly makes a difference and help  build a more diverse, equitable, and inclusive workforce. Please donate today and help us make DEIR a reality.
        </p>
    </div>
     
    </div>
  </section>




<hr style="height: 4px;">
</div>
{% endblock %}

{% block script %}{% endblock %}