
{% extends 'base.html' %}
                          
{% block container %}

<div class="bg-white">

<!--Page Title-->
<br>
<section class="page-title">
    <div class="auto-container">
      <div class="title-outer">
        <h1>Data Retention Policy</h1>
        <ul class="page-breadcrumb">
          <li><a href="{{url_for('main.home')}}">Home</a></li>
          <li>Data Retention Policy</li>
        </ul>
      </div>
    </div>
</section>
  <!--End Page Title-->

  <section class="about-section-three">
    <div class="auto-container">
      

      
      <div class="text">

        <p><b>Data Retention Policy for DEIR</b></p>
        <p align="justify">
            <br>Purpose:

            <br><br>The purpose of this Data Retention Policy is to outline the guidelines and procedures for the retention and deletion of user data collected and processed by DEIR Pty Ltd (ACN: 667 587 153). This policy ensures compliance with applicable data protection regulations and establishes clear guidelines for the retention of user data.
            
            <br><br>Data Categories:
            
            <br><br>DEIR collects and processes various types of user data, including personal information, work experience, education, and other relevant details necessary for the job-matching process. It is important to define the retention periods for different data categories to ensure data is retained only for as long as necessary.
        </p>
       <br><br>

        <p align="justify">
            <br><b>Retention Periods: </b>The retention periods for user data collected by DEIR are as follows:

            <br><br>Active User Accounts:
            
            <br><br>User accounts on DEIR will be considered active as long as the user continues to use the platform. User data will be retained for the duration of the user’s active account.
            
            <br><br>Inactive User Accounts:
            
            <br><br>If a user chooses to deactivate or delete their account, their personal data will be retained for a period of 30 days after account deactivation. After this period, the user data will be securely deleted.
            
            <br><br>Job Application Data:
            
            <br><br>Data related to job applications, including resumes, cover letters, and related documents, will be retained for a period of 12 months from the date of application submission. This allows for the review of past applications and consideration for future opportunities.
            
            <br><br>Anonymized and Aggregated Data:
            
            <br><br>DEIR may retain anonymized and aggregated data that does not directly identify individuals for analytical and reporting purposes. This data may be retained for an indefinite period.
            
            <br><br>Data Deletion:
            
            <br><br>At the end of the retention periods mentioned above, user data will be securely deleted from DEIR’s systems and databases. Data deletion will be carried out in accordance with best practices to ensure complete removal and protection of user information.
            
            <br><br>Exceptions:
            
            <br><br>In some cases, legal or regulatory obligations may require the retention of certain data beyond the specified periods. DEIR will comply with such obligations and retain data as required by applicable laws.
            
            <br><br>Data Access and Security:
            
            <br><br>Access to user data will be limited to authorized personnel with a legitimate need to access such information. DEIR will implement appropriate security measures to protect user data against unauthorized access, loss, or disclosure.
            
            <br><br>Review and Update:
            
            <br><br>This Data Retention Policy will be reviewed periodically to ensure its continued relevance and compliance with applicable laws and regulations. Any necessary updates or amendments will be made in a timely manner.
            
            <br><br>Contact:
            
            <br><br>If you have any questions or concerns regarding the retention or deletion of your data, please contact us at inquiry@istemco.com
            
            <br><br>By using DEIR, you consent to the retention and deletion of your data as outlined in this policy.
        </p>
        <br><br>



     
      
    </div>
     
    </div>
  </section>




<hr style="height: 4px;">
</div>
{% endblock %}

{% block script %}{% endblock %}