
{% extends 'base.html' %}
                          
{% block container %}

<div class="bg-white">

<!--Page Title-->
<br>
<section class="page-title">
    <div class="auto-container">
      <div class="title-outer">
        <h1>FAQ</h1>
        <ul class="page-breadcrumb">
          <li><a href="{{url_for('main.home')}}">Home</a></li>
          <li>FAQ</li>
        </ul>
      </div>
    </div>
</section>
  <!--End Page Title-->

<section class="faqs-section">
    <div class="auto-container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">

            

        <!--Accordian Box-->
        <ul class="accordion-box">
            <!--Block-->
            <li class="accordion block active-block">
            <div class="acc-btn active">What is DEIR?<span class="icon flaticon-add"></span></div>
            <div class="acc-content current">
                <div class="content">
                    <p>
                        DEIR stands for <b>Diversity, Equity, Inclusion, and Retention</b>. It is a recruitment-tech platform that supports ethical and inclusive hiring practices in STEM. DEIR offers unique resources such as anonymous recruitment, job benchmarking, ethical job posting, a standardized interview process, mentoring retention program, and an endorsement badge for ethical and inclusive employers.
                    </p>
                
                    
                </div>
            </div>
            </li>

            <!--Block-->
            <li class="accordion block">
            <div class="acc-btn"> Who can use DEIR? <span class="icon flaticon-add"></span></div>
            <div class="acc-content">
                <div class="content">
                <p>
                    DEIR is open to all employers and job seekers in the STEM field. We encourage all employers who are committed to promoting diversity and inclusion in their hiring practices to join our platform. Women and other underrepresented groups in STEM are particularly encouraged to use DEIR to find job opportunities in a safe and inclusive environment.
                </p>
                </div>
            </div>
            </li>

            <!--Block-->
            <li class="accordion block">
            <div class="acc-btn">How does DEIR support diversity and inclusion in hiring practices? <span class="icon flaticon-add"></span></div>
            <div class="acc-content">
                <div class="content">
                <p>
                    DEIR supports diversity and inclusion in hiring practices through its unique resources such as anonymous recruitment, job benchmarking, ethical job posting, standardized interview process, mentoring retention program, and an endorsement badge for ethical and inclusive employers. These resources help eliminate bias in the recruitment process and create a more inclusive and equitable hiring environment.
                </p>
                </div>
            </div>
            </li>

            <!--Block-->
            <li class="accordion block">
            <div class="acc-btn">How does anonymous recruitment work on DEIR? <span class="icon flaticon-add"></span></div>
            <div class="acc-content">
                <div class="content">
                <p>
                    Anonymous recruitment on DEIR allows job seekers to submit their applications without revealing personal information such as their name, gender, or ethnicity. This helps eliminate unconscious bias in the recruitment process and ensures that candidates are evaluated based on their qualifications and experience rather than personal characteristics.
                </p>
                </div>
            </div>
            </li>

            <!--Block-->
            <li class="accordion block">
            <div class="acc-btn">How does job benchmarking work on DEIR?<span class="icon flaticon-add"></span></div>
            <div class="acc-content">
                <div class="content">
                    <p>
                        Job benchmarking on DEIR involves creating a standardized job description that includes the key skills, competencies, and experience required for a particular position. This helps employers evaluate candidates objectively and ensure that all candidates are evaluated based on the same criteria.                   
                     </p>
                
                    
                </div>
            </div>
            </li>

            <!--Block-->
            <li class="accordion block">
            <div class="acc-btn"> How does the mentoring retention program on DEIR work?<span class="icon flaticon-add"></span></div>
            <div class="acc-content">
                <div class="content">
                <p>
                    The mentoring retention program on DEIR matches job seekers with experienced mentors in their field who can provide guidance and support throughout their job search and career development. This program helps job seekers build their networks and gain valuable insights into the industry, while also supporting their long-term career growth and retention.
                </p>
                </div>
            </div>
            </li>

            <!--Block-->
            <li class="accordion block">
            <div class="acc-btn">How does the endorsement badge for ethical and inclusive employers work on DEIR? <span class="icon flaticon-add"></span></div>
            <div class="acc-content">
                <div class="content">
                <p>
                    The endorsement badge on DEIR is awarded to employers who demonstrate a commitment to ethical and inclusive hiring practices. Employers can earn the badge by completing a self-assessment and meeting certain criteria, such as using anonymous recruitment, offering mentorship programs, and promoting diversity and inclusion in their workplace. We have a two-tier endorsement. Tier-one is a commitment badge to show an employer’s commitment to inclusivity by hiring more women in STEM. While Tier-two is a badge that shows the retention and leadership growth of women including women of colour/CALD within the organisation.
                </p>
                </div>
            </div>
            </li>

            <!--Block-->
            <li class="accordion block">
            <div class="acc-btn">Is DEIR free to use?<span class="icon flaticon-add"></span></div>
            <div class="acc-content">
                <div class="content">
                <p>
                    DEIR offers Monthly and Yearly paid subscription plans for employers. Job seekers can use DEIR for free to search for job opportunities and create a profile. 
                </p>
                </div>
            </div>
            </li>

            <!--Block-->
            <li class="accordion block">
            <div class="acc-btn">How can I get support if I have questions or issues with DEIR?<span class="icon flaticon-add"></span></div>
            <div class="acc-content">
                <div class="content">
                <p>
                    DEIR offers customer support through a variety of channels, including email, phone, and chat. You can email us directly at <a href="mailto:inquiry@istemco.com"> inquiry@istemco.com </a>to get in touch.
                </p>
                </div>
            </div>
            </li>




        </ul>

    </div>
    <div class="col-lg-2"></div>
</div>

    </div>
</section>


<hr style="height: 4px;">
</div>
{% endblock %}

{% block script %}{% endblock %}