
{% extends 'base.html' %}
                          
{% block container %}

<div class="bg-white">

<!--Page Title-->
<br>
<section class="page-title">
    <div class="auto-container">
      <div class="title-outer">
        <h1>Our Team</h1>
        <ul class="page-breadcrumb">
          <li><a href="{{url_for('main.home')}}">Home</a></li>
          <li>Our Team</li>
        </ul>
      </div>
    </div>
</section>
  <!--End Page Title-->

  <!-- Job Section -->
  <section class="layout-pt-60 layout-pb-60">
    <div class="auto-container">
      <div class="row wow fadeInUp">
        <div class="featured-column col-xl-12 col-lg-12 col-md-12 col-sm-12">
          

          <div class="outer-box job-block-five-separated">

            <!-- Job Block -->
            <div class="job-block-five" >
              <div class="inner-box"  style="background-color: #e7eefb !important ; " >
                <div class="content row">
                    <div class="col-lg-3 col-md-3 col-sm-12" align="center">
                        <img src="{{url_for('static', filename='img/resource/dp1.jpeg')}}" width="70%" alt="">
                        <br><br>
                        <h4 class="text-justify" style="color: #004aad;"><b><a href="#" style="color: inherit; text-decoration: none;">DR MORLEY MUSE</a></b><br>Co-founder Operations</h4>
                    </div>
                    <div class="col-lg-1 col-md-1"></div>
                    <div class="col-lg-8 col-md-8 col-sm-12"> <br>
                        <p class="text text-justify" style="color: #004aad; text-align: justify;">
                                Dr Muse is a Chemical, Environmental & Renewable Energy Engineer. She is a board director with Women in STEMM Australia and an Advisory Group Member of the Elevate: Boosting Women in STEM Program with the Australian Academy of Technology and Engineering as well Expert panel member with Diversity Council Australia (DCA), Settlement Services International (SSI) and Chief Executive Women (CEW). Muse is an award-winning STEM leadership expert and promotes gender equity in STEM.
                        </p>
                    </div>
                </div>
              </div>
            </div>


            <!-- Job Block -->
            <div class="job-block-five" >
                <div class="inner-box"  style="background-color: #ffffff !important ; " >
                  <div class="content row">
                      <div class="col-lg-3 col-md-3 col-sm-12"  align="center">
                          <img src="{{url_for('static', filename='img/resource/dp2.jpg')}}" width="70%" alt="">
                          <br><br>
                          <h4 class="text-justify" style="color: #004aad;"><b><a href="#" style="color: inherit; text-decoration: none;">DR RUWANGI FERNANDO</a></b><br>Co-founder Technology</h4>
                      </div>
                      <div class="col-lg-1 col-md-1"></div>
                      <div class="col-lg-8 col-md-8 col-sm-12"> <br>
                          <p class="text text-justify" style="color: #004aad; text-align: justify;">
                            Dr Fernando is an accomplished IT expert and AI specialist . As a champion for women of colour in STEM, she advocates for intersectional diversity and inclusion in the Australian STEM sector. Dr Fernando is also the founder of STEM Sisters, a pioneer organisation that empowers STEM women of colour. She has spearheaded six award-winning programs as the founder of STEM Sisters. She is the current chair of the Diversity Committee of the Australian Computer Society (ACS).                           
                        </p>
                      </div>
                  </div>
                </div>
            </div>


            <!-- Job Block -->
            <div class="job-block-five" >
                <div class="inner-box"  style="background-color: #e7eefb !important ; " >
                  <div class="content row">
                      <div class="col-lg-3 col-md-3 col-sm-12"  align="center">
                          <img src="{{url_for('static', filename='img/resource/dp3.jpeg')}}" width="70%" alt="">
                          <br><br>
                          <h4 class="text-justify" style="color: #004aad;"><b><a href="#" style="color: inherit; text-decoration: none;">SHELIN DAVID</a></b><br>Chief Financial Officer</h4>
                      </div>
                      <div class="col-lg-1 col-md-1"></div>
                      <div class="col-lg-8 col-md-8 col-sm-12"> <br>
                          <p class="text text-justify" style="color: #004aad; text-align: justify;">
                            Shelin has a background in Actuarial Science and Commerce and is a start-up and scale-up advisor, with a focus on finance, strategy, operations, growth and capital raising. She is passionate about innovative and technology-led products/services that change the way traditional business models work, and strongly advocates for local grass-root and intersectional organisations, focusing actively on women in Tech. She is currently the head of growth at the ACS Bay City Labs.                          
                        </p>
                      </div>
                  </div>
                </div>
            </div>


            <!-- Job Block -->
            <div class="job-block-five" >
                <div class="inner-box"  style="background-color: #ffffff !important ; " >
                  <div class="content row">
                      <div class="col-lg-3 col-md-3 col-sm-12"  align="center">
                          <img src="{{url_for('static', filename='img/resource/dp4.jpeg')}}" width="70%" alt="">
                          <br><br>
                          <h4 class="text-justify" style="color: #004aad;"><b><a href="#" style="color: inherit; text-decoration: none;">VICKI STIRLING</a></b><br>Board Adviser-Strategy</h4>
                      </div>
                      <div class="col-lg-1 col-md-1"></div>
                      <div class="col-lg-8 col-md-8 col-sm-12"> <br>
                          <p class="text text-justify" style="color: #004aad; text-align: justify;">
                            Vicki is a seasoned strategist and the current CEO of Startup Victoria, where she channels her passion for startups in technology and community. With an innate ability to dive deep into the realm of business, Vicki excels at uncovering the hidden nuggets of opportunity that serve as catalysts for revolutionary ideas. Her extensive background in startups spans from the early stages of ideation all the way to IPO, granting her a unique and rare insight into the essential ingredients required for a company to achieve hockey stick growth and consistently double its revenue.                          
                        </p>
                      </div>
                  </div>
                </div>
            </div>


             <!-- Job Block -->
             <div class="job-block-five" >
                <div class="inner-box"  style="background-color: #e7eefb !important ; " >
                  <div class="content row">
                      <div class="col-lg-3 col-md-3 col-sm-12"  align="center">
                          <img src="{{url_for('static', filename='img/resource/dp5.jpeg')}}" width="70%" alt="">
                          <br><br>
                          <h4 class="text-justify" style="color: #004aad;"><b><a href="#" style="color: inherit; text-decoration: none;">JUSTINE VAISUTIS</a></b><br>Board Adviser-Community Engagements and Partnerships</h4>
                      </div>
                      <div class="col-lg-1 col-md-1"></div>
                      <div class="col-lg-8 col-md-8 col-sm-12"> <br>
                          <p class="text text-justify" style="color: #004aad; text-align: justify;">
                            Justine is a human rights, DEI and organisational change practitioner with almost 20 years’ of experience assisting workplaces to develop bespoke programs that improve equality & inclusion. As Program Director of the Champions of Change STEM Group, Justine works with senior leaders and their teams across the STEM sector to develop practical and effective actions to achieve gender equality, advance more and diverse women into leadership, and build respectful and inclusive workplaces for the future.                          
                        </p>
                      </div>
                  </div>
                </div>
            </div>


             <!-- Job Block -->
             <div class="job-block-five" >
                <div class="inner-box"  style="background-color: #ffffff !important ; " >
                  <div class="content row">
                      <div class="col-lg-3 col-md-3 col-sm-12"  align="center">
                          <img src="{{url_for('static', filename='img/resource/dp6.jpeg')}}" width="70%" alt="">
                          <br><br>
                          <h4 class="text-justify" style="color: #004aad;"><b><a href="#" style="color: inherit; text-decoration: none;">LUCIA RANKIN</a> </b><br>Board Adviser-Marketing</h4>
                      </div>
                      <div class="col-lg-1 col-md-1"></div>
                      <div class="col-lg-8 col-md-8 col-sm-12"> <br>
                          <p class="text text-justify" style="color: #004aad; text-align: justify;">
                            Lucia manages nationally & internationally recognised businesses. She has sat and held board director positions for two notable organisations. Displaying strong leadership skills, Lucia has managed and lead a team of 5-10 people in her company over a number of years. Lucia has recently been featured across national media platforms such as The Herald Sun. Her key strengths are being a visionary business leader motivating business owners to reach high business goals through strategically planned marketing plans to reach KPIs set out together with the key business owners. Her skill set includes a wide array of skills from writing Strategic Marketing Plans, Facebook Advertisements, Web-Design User Experience and Branding.                          
                        </p>
                      </div>
                  </div>
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Job Section -->


<hr style="height: 4px;">
</div>
{% endblock %}


{% block script %}{% endblock %}