
{% extends 'base.html' %}
                          

{% block container %}

<div class="bg-white">

<!--Page Title-->
<br>
<section class="page-title">
    <div class="auto-container">
      <div class="title-outer">
        <h1>Privacy Policy</h1>
        <ul class="page-breadcrumb">
          <li><a href="{{url_for('main.home')}}">Home</a></li>
          <li>Privacy Policy</li>
        </ul>
      </div>
    </div>
</section>
  <!--End Page Title-->

  <section class="about-section-three">
    <div class="auto-container">
      

      
      <div class="text">

        <p><b>Welcome to DEIR</b></p>
        <p align="justify">
            <br>DEIR Pty Ltd (ACN: 667 587 153) is a subsidiary of the iSTEM Group (ACN: 667 509 113). Our mission is to create a safe and inclusive recruitment process and enable the employment of ALL women in science, technology, engineering, and mathematics (STEM), including women of colour and women from culturally and linguistically diverse (CALD) backgrounds.       
            <br><br> We understand that your privacy is important to you, and we value the trust and confidence you place in us when you provide your personal information. This Privacy Policy describes how we work to maintain that trust and protect your information.

            <br><br>This Privacy Policy details how we collect, use, and disclose the Personal and Non-Personal Data we collect from and about you when you access our services via our website in accordance with the General Data Protection Regulation (GDPR), the Privacy Act (Cth) 1988, and any other national implementing laws, regulations, and security legislation. Our aim is to be transparent about how we collect, hold, and use your personal information, and under what circumstances we may disclose or transfer your personal information.

            <br><br>We may modify this Privacy Policy at any time, and any changes will be reflected on our website. We encourage you to review this Privacy Policy periodically so that you are updated on any changes. Your continued use of the Site will be deemed as acceptance of this Privacy Policy by you.
        
        </p>
       <br><br>

        <p><b>Information we collect and hold</b></p>
        <p align="justify">
            <br>DEIR collects personal information on users on this website and our related entities (istemco.com). We use this information for various purposes, including customizing and enhancing the quality of service and delivery you receive from us, and ensuring an effective matching process between candidates and employers. We also use this information for our reports, marketing, planning, billing, product development, and research requirements.
        </p>
        <br><br>


        <p><b>Explicit Consent</b></p>
        <p align="justify">
            <br>We require explicit consent from users to collect and use their personal information when they sign up for an account or use the DEIR platform. By signing up for an account or using the DEIR platform, you explicitly consent to the collection and use of your personal information in accordance with this Privacy Policy.

        
        </p>
        <br><br>


        <p><b>IP Address and Cookies</b></p>
        <p align="justify">
            <br>DEIR and our related entities gather your IP address to assist with the diagnosis of problems or support issues with our services, and to monitor the use of our website, including the monitoring of the location of our users. In addition, we use cookies to provide a better browsing experience. This allows the Website to be tailored to you for any of your return visits. Cookies will not identify you personally.

            <br><br>If you would prefer not to receive cookies, you can alter your security settings on your web browser to disable cookies or to warn you when cookies are being used. However, by disabling the cookie function in your web browser, you may impede your ability to use parts of the website.
        
        </p>
        <br><br>


        <p><b>Third-Party Sharing</b></p>
        <p align="justify">
            <br>DEIR does not share personal information with any third parties except as required by law. However, we may use third-party services for purposes such as website hosting and data analytics. In such cases, we ensure that these third parties are compliant with data protection laws and have appropriate safeguards in place to protect your personal information.
        
        </p>
        <br><br>


        <p><b>Retention Period</b></p>
        <p align="justify">
            <br>DEIR retains personal information for as long as necessary to provide our services to you or as required by law. Once your personal information is no longer needed, we will take reasonable steps to destroy or de-identify that information unless we are prevented from doing so by law.
        
        </p>




        <br><br>


        <p><b>Securing Details You Provide to Us</b></p>
        <p align="justify">
            <br>At DEIR, we take the protection of your personal information seriously and are committed to securing your data, protecting you from misuse, interference, loss, and unauthorized access, modification, or disclosure. We store information mostly electronically but occasionally have hard-copy documentation. However, it is important to note that information shared online is not completely secure. Therefore, we cannot guarantee the security of any information you transmit or receive from us. The transmission and exchange of information are carried out at your own risk.
        
        </p>
        <br><br>


        <p><b>Access to Your Information and Our Anonymous Recruitment Policy</b></p>
        <p align="justify">
            <br>Except for when you register on DEIR and our related entities, we do not collect information that identifies you personally. When you register an account with us, you create a profile that can be viewed by our registered employers. As part of our anonymous recruitment policy, your personal identifiers are hidden from potential employers except during interviews. We also offer a standardized interview process ensuring the same techniques and methods for every candidate to provide a fair and equitable recruitment process for our direct recruits and tryouts. For other general users, we provide ethical guidelines for job postings and conducting interviews.


        
        </p>
        <br><br>


        <p><b>Accuracy of Your Personal Information</b></p>
        <p align="justify">
            <br>We try our best to ensure that the information we store about you is current and accurate. If your details change or you suspect that the details we have are inaccurate, please contact us at inquiry@istemco.com.
        </p>
        <br><br>


        <p><b>Feedback and Complaints about Breaches</b></p>
        <p align="justify">
            <br>DEIR and our related entities take responsible steps in ensuring our website is safe and secure, protecting your information from misuse. If you have concerns about how we handle your personal information, please let us know promptly and notify us in writing. We take your complaints seriously and will do our best to address your concerns.

            <br><br>We also welcome feedback from our users and value your opinion in creating the best experience on our website.
            
            <br><br>For all feedback or complaints, please contact us at inquiry@istemco.com.
        </p>
        <br><br>


        <p><b>How to Unsubscribe from Our Database</b></p>
        <p align="justify">
            <br>To unsubscribe from our email database, please send an email to inquiry@istemco.com with the tag “UNSUBSCRIBE” typed into the subject line of the email.

            <br><br>Thank you for choosing DEIR. We are committed to protecting your privacy and providing a safe and inclusive platform for women in STEM. If you have any questions or concerns about our Privacy Policy or how we handle your personal information, please contact us at inquiry@istemco.com.
        </p>
     
      
    </div>
     
    </div>
  </section>




<hr style="height: 4px;">
</div>
{% endblock %}

{% block script %}{% endblock %}