
{% extends 'base.html' %}
                          

{% block container %}

<div class="bg-white">

<!--Page Title-->
<br>
<section class="page-title">
    <div class="auto-container">
      <div class="title-outer">
        <h1>Terms and Conditions</h1>
        <ul class="page-breadcrumb">
          <li><a href="{{url_for('main.home')}}">Home</a></li>
          <li>Terms and Conditions</li>
        </ul>
      </div>
    </div>
</section>
  <!--End Page Title-->

  <section class="about-section-three">
    <div class="auto-container">
      

      
      <div class="text">

        <p><b>Welcome to DEIR</b></p>
        <p align="justify">
            <br>Thank you for considering DEIR for your talent sourcing and human resource requirements. We look forward to building a strong, successful and long-term business relationship with you.

            <br><br>DEIR Pty Ltd (ACN: 667 587 153) is a subsidiary of the iSTEM Group (ACN: 667 509 113). By accessing or using the Site, you agree to be bound by the terms and conditions below, including our Privacy Policy.
            
            <br><br>DEIR and our related entities reserve the right to amend the Terms of Use at any time. We will aim to notify you of any changes, revisions and amendments to the site. It is, however, your responsibility to review the terms of use. By using the website, you agree to be bound by such changes, modifications or revisions as made by us from time to time.
        </p>
       <br><br>

        <p><b>Terms and Conditions of Business</b></p>
        <p align="justify">
            <br>These terms of business form a contract between DEIR Pty Ltd (ACN: 667 587 153)  and employers who have successfully engaged our DEIR platform or related entities to recruit candidates.

            <br><br>DEIR offers a subscription fee for employers to post jobs and find suitable candidates. For employers who wish to engage with our DEIR Recruitment experts to recruit, a finder’s fee is applicable which is 12% for ‘Direct recruits’ and 10% for our ‘Tryout to Recruit Program’ payable to iSTEM Co. The finder’s fee will be due and payable when an offer for any type of employment has been extended by a client and accepted by a candidate, through the efforts of DEIR or any related entities irrespective of referral method or position type. The client agrees to advise iSTEM Co. within 24 hours of an offer and/or acceptance of a position by a DEIR or related entities referred candidate. iSTEM Co. requires notice within 24 hours if a referred candidate fails to start, leaves or is terminated within the guarantee period.
            
            <br><br>Our standard trading terms are 14 days from the date of invoice and all fees quoted are exclusive of GST. The client is liable for all reasonable expenses and legal costs incurred by DEIR or its related entities for enforcement of obligations and recovery of monies due from the client. The above terms and conditions including our trading terms must be met for our guarantee to take effect. Interest may be charged at the rate of 1.5% per month on overdue accounts.
        </p>
        <br><br>


        <p><b>Our Offerings and Packages</b></p>
        <p align="justify">
            <br>DEIR offers three main packages,  a mentoring service and an employability workshop.

            <br><br>Package 1: This is a 12-month member-based subscription priced at $1000, allowing you to post up to 10 jobs for a low fee of $100/job. It permits you to find and view candidates’ profiles, and recruit candidates.
            
            <br><br>Package 2: For a one-off fee of $2000/month, you can post up to 10 jobs on a no-contract basis. It permits you to find and view candidates’ profiles, and recruit candidates.
            
            <br><br>Package 3: We understand that some organisations are larger than others and may have a variety of roles. This is a 12-month member-based subscription priced at $5000, allowing you to post up to 50 jobs. It permits you to find and view candidates’ profiles, and recruit candidates.
            
            <br><br>We understand that recruiting candidates is not enough but retaining them is even more important. To reduce attrition and promote retention of your early career women in STEM, especially women of colour/CALD, you can purchase our Mentoring Retention for only $5000 and have our unique STEM consultants work with you.
            
            <br><br>In addition, we know that job seekers sometimes need a bit of support to enter the workforce. Our employability workshop training priced at $50 is designed to improve your chances of employment and visibility with a STEM employer.
        
        </p>
        <br><br>


        <p><b>Browsing Experience:</b></p>
        <p align="justify">
            <br>Also, while we aim to provide an optimum browsing experience, we will not be accountable for any delays or interruptions to the website. We will not be responsible if the website is down for any reason and as a result, there is loss, cost, damage or liability.
        </p>
        <br><br>


        <p><b>Prohibited Conduct</b></p>
        <p align="justify">
            <br>While we wish our users to have a great experience on our website, there are certain practices that we do not allow:

            <br><br>Using the website to post or transmit information that breaches any laws or regulations, infringes a third party’s rights, or affects other users including defames, harasses, threatens, menaces, offends, or restricts any person.
            
            <br><br>Sending unsolicited email messages or transmitting contents that contain viruses.
        </p>
        <br><br>


        <p><b>Intellectual property</b></p>
        <p align="justify">
            <br>The Website, including its software, design, graphics, and copyright, is owned or under license by DEIR Pty Ltd and protected by Australian and International laws. While using the website, you do not have permission to use any of the trademarks or logos, as well as copy or reproduce any content without the permission of DEIR Pty Ltd.
        </p>




        <br><br>


        <p><b>Confidentiality</b></p>
        <p align="justify">
            <br>In accordance with privacy legislation, employers using DEIR or related entities shall not disclose any information regarding the candidates to any other party and agrees to destroy all resumes and application details of unsuccessful candidates.
        </p>
        <br><br>


        <p><b>Indemnity</b></p>
        <p align="justify">
            <br>By using the Website, the client is responsible for any risk and indemnifies DEIR and its related entities from any claim or loss, suits, actions, damage or liability incurred as a result of using the DEIR platform or any related entities.
        
        </p>
        <br><br>


        <p><b>Governing Law</b></p>
        <p align="justify">
            <br>These Terms and Conditions shall be governed by and construed in accordance with the laws of Australia. Any disputes arising out of or relating to these Terms and Conditions shall be subject to the exclusive jurisdiction of the courts of Australia.
        </p>
        <br><br>


        <p><b>Termination</b></p>
        <p align="justify">
            <br>DEIR Pty Ltd reserves the right to terminate your access to the website and its services without notice and at its sole discretion.
        </p>
        <br><br>


        <p><b>Contact Information</b></p>
        <p align="justify">
            <br>If you have any questions or concerns about these Terms and Conditions or our services, please contact us at inquiry@istemco.com.
        </p>
     
      
    </div>
     
    </div>
  </section>




<hr style="height: 4px;">
</div>
{% endblock %}

{% block script %}{% endblock %}